@import "variables";

.footer {
  background-color: $eggplant-color;
  height: 88px;
  position: relative;

  &__container {
    color: $white-color;
    display: flex;
    justify-content: space-between;
    line-height: 88px;
  }

  &-chat {
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 50%;
    border: none;
    background-color: $blue-color;
    padding-top: 5px;
    cursor: pointer;
  }
}