@import 'variables';

.header {
  background-color: $blue-color;
  padding: 16px 0 16px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &-flex {
    display: flex;
    justify-content: space-between;
  }
}

.left-group {
  display: flex;

  &__title-link {
    color: $white-color;
    text-decoration: none;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 700;
    padding-left: 4px;
    padding-top: 2px;
  }
}

.right-group {
  display: flex;

  &__total-price {
    color: $white-color;
    padding-right: 8px;
    font-size: 16px;
    padding-top: 8px;
    font-family: $main-font;
  }

  .cart {
    position: relative;

    &::after {
      content: '0';
      position: absolute;
      left: 17px;
      top: 8px;
      font-size: 12px;
      font-family: $main-font;
    }

    &-image {
      text-decoration: none;

      &::before {
        content: url("../images/icons/dot.svg");
        position: absolute;
        left: 9px;
        top: 20px;
      }

      &::after {
        content: url("../images/icons/dot.svg");
        position: absolute;
        left: 21px;
        top: 20px;
      }
    }
  }
}