// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import 'reset';
@import 'header';
@import 'navigation';
@import 'variables';
@import 'mixins';
@import 'product';
@import 'products';
@import "footer";


* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 52px;
}







