@import "variables";

@mixin product-button ($color: $eggplant-color){
  border: none;
  margin-top: 16px;
  width: 100%;
  background-color: $color;
  color: $white-color;
  border-radius: 4px;
  padding: 8px 24px;
}

@mixin product-conditions ($width, $bg-color, $left-position) {
  font-family: $main-font;
  width: $width;
  height: 32px;
  background-color: $bg-color;
  color: $white-color;
  content: 'New';
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  border-radius: 4px;
  left: $left-position;
  top: 32px;
  position: absolute;
}