.navigation {
  overflow: hidden;
  position: fixed;
  top: 62px;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.navigation-flex {
  padding: 4px 0 4px;
  display: flex;
  justify-content: space-between;
}

.navigation-category__link {
  text-decoration: none;
  font-family: $main-font;
  font-size: 16px;
  color: #000;
}

.navbar {
  display: flex;
  gap: 40px;

  &-item {
    list-style: none;

    &__link {
      text-decoration: none;
      font-family: $main-font;
      font-size: 16px;
      color: #000;
    }
  }
}
//8E8E8E