@import "variables";

.products {
  padding: 36px 0 120px;
  background-color: #EEEEEF;
  margin-top: 90px;

  &__title {
    font-size: 32px;
    font-family: $main-font;
    padding-bottom: 23px;
  }
}

.productslist {
  border-top: 1px solid black;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



