@import "variables";
@import 'mixins';

.product {
  padding: 32px;
  border: 1px solid $grey-color;
  width: 100%;
  max-width: 306px;
  height: 512px;
  margin-bottom: 32px;
  position: relative;

  &__image-fluid {
    padding: 0;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 0 32px;
  }

  &__image {
    width: 100%;
  }

  &__description {
    padding-top: 16px;
  }

  &__name {
    color: $black-color;
    font-size: 20px;
    font-family: $main-font;
    font-weight: 700;
    line-height: 32px;
  }

  &__author {
    color: $grey-color;
    font-size: 16px;
    font-family: $main-font;
    border-top: 1px solid $grey-color;
    line-height: 24px;
  }

  &-prices {
    display: flex;
    margin-top: 8px;

    &__price {
      color: $price-color;
      font-family: $main-font;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }

    &__discount {
      font-size: 24px;
      font-weight: 500;
      font-family: $main-font;
      color: $grey-color;
      text-decoration: line-through;
      margin-left: 24px;
      line-height: 32px;

      &--empty {
        display: none;
      }
    }
  }

  &__buyButton {
    @include product-button();

    &--endup {
      background-color: $green-color;
    }
  }

  &--new {
    @include product-conditions(47px, $violet-color, 32px)
  }

  &--hit {
    @include product-conditions(37px, $deep-blue-color, 85px)
  }

  &--discount {
    @include product-conditions(73px, $pink-color, 128px)
  }
}
