$white-color: #F8FDFE;
$main-font: Cabin, sans-serif;
$grey-color: #8E8E8E;
$eggplant-color: #4C394E;
$black-color: #1F1F1F;
$price-color: #E90000;
$green-color: #4D762D;
$blue-color: #10BBD5;
$deep-blue-color: #4200FF;
$violet-color: #AF39E7;
$pink-color: #EA33C0;